@import "./friends/friends.css";
strong {
  font-weight: bold;
}



.message {
  padding-left: 20px;
}

.messageForm {
  width: 100%;
  text-align: center;
  border: rgb(187, 48, 48) solid;
}

.me

.task {
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
}

.task__row__A {
  width: 100%;
  display: flex;
}

.task__name {
  width: 100%;
  margin-left: 15px;
  align-self: center;
  text-align: center;
}

.task__checkbox {
  margin-left: auto;
  align-self: center;
  margin-right: 10px;
}

.taskButtonContent {
  text-align: center;
}